<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>705497102985-ptgk1gd7q8nv828b2su4kqjt591muhch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705497102985-ptgk1gd7q8nv828b2su4kqjt591muhch</string>
	<key>API_KEY</key>
	<string>AIzaSyB5rq05iB-0Yr_WE-dyHj31CplhDIOc4Js</string>
	<key>GCM_SENDER_ID</key>
	<string>705497102985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Prateek.animatable</string>
	<key>PROJECT_ID</key>
	<string>animatable-f00d2</string>
	<key>STORAGE_BUCKET</key>
	<string>animatable-f00d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:705497102985:ios:0eb3abd3873365fa</string>
	<key>DATABASE_URL</key>
	<string>https://animatable-f00d2.firebaseio.com</string>
</dict>
</plist>